.titulo{
    text-align: center;
    color: #001529;
    font-weight: bold;
    
}

.customLabel {
    font-size: 1rem; 
    color:red ;
    text-align: center;
}
.customInput {
    padding: 0.5rem; 

}
.colunas{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.customInput:placeholder-shown {
    background-color: #f3f2ec;
    border:none;
    text-align: center;
}
.customButton {
    padding: 1.2rem;
    font-size: 1.2rem;
    background: #ee895a;
    color: #fff;
    font-weight: bold;
    border: none;
}
